/* Cairo */
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-ExtraLight.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "cairo";
    src: url("../fonts/cairo/Cairo-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}